body {
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 100px
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .links{
    display: flex;
}

.container .content{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.placeholder-image{
    height: 200px;
}