div{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    /* margin: 0px 100px 0px 100px */
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 200px 0px 200px;
}

a{
    text-decoration: none;
    color: #e5e7e5;
    margin-left: 20px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .links{
    display: flex;
}

.container .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 100px 200px 
}

.placeholder-image{
    height: 200px;
    border: none;
}

img {
    height: 200px;
    border:3px solid #3882F6;
    border-radius: 10px;
    
}

.mid-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 200px 70px 200px;

}

.mid-content{
    display: flex;
    justify-content: space-around;
}

.blue-container{
    background-color: #1F2937;
}

.quote-container{
    display: flex;
    flex-direction: column;
    padding : 140px 260px;
    background-color: #e5e7eb;
    align-items: flex-end;
    font-size: 36px;
    font-style: italic;
    font-weight:220;
    color: #1F2937;
}
.cluster{
    display: flex;
    flex-direction: column; 
    flex :0;
    margin: 20px;
}

.end-container{
    display: flex;
    justify-content: space-around;
    margin: 100px 200px 100px 200px;
    padding: 40px;
    background-color: #3882F6;
    border-radius:7px;
    color: #f9fad8;
    font-weight: 200;
}   

.vertical{
    display: flex;
    flex-direction: column;   
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 30px;
}

.first{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}
.second{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: lighter;
}
#third{
    background-color: #3882F6;
    border-radius: 5px;
    padding: 8px 25px;
    margin-top: 10px;
    border: none;
    font-size: 18px;
    color: #f9faf8;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.mid-text{
    color: #53666b;
}

.quote-name{
    font-size: 22px;
    color: #1f2937;
    font-weight: bold;
    font-style: normal;
}

.end-text-bold{
    font-size: 20px;
    font-weight: bold;
}

#end-button{
    border: 2px solid #e5e7eb;
    background-color: #3882F6;
    color: #e5e7eb;
    padding: 0px 35px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

button{
    padding: 0%;
}

.footer{
    color: #e5e7eb;
}